<a href="https://colab.research.google.com/github/sanjan5577/ETL-python/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Run django server***


```
# python3 manage.py runserver
```

***Migrating from sql ***

```
# python3 manage.py migrate
```
***Creating super user***


```
# python3 manage.py 

```

In [ ]:
sum=0
for i in range(0,10):
    sum = sum +i
print(sum)

45

In [ ]:
class Mac:

  def config(self):
    print("Mac Air",self.pos,self.ram)
     
  def __init__(self,pos,ram):
    self.pos=pos
    self.ram=ram

m1=Mac('m1',8)
m2=Mac('m2',8)

m1.config()
m2.config()

TypeError: ignored

In [ ]:
import array as arr
  

my=arr.array("i",[7,6,3])  
print(my)
print(type(my))

array('i', [7, 6, 3])
<class 'array.array'>

In [ ]:
import numpy as np
  

my=np.array([1,"hh",3])  
print(my)
print(type(my))

['1' 'hh' '3']
<class 'numpy.ndarray'>

In [ ]:
# mystr = "banana"
# my =iter(mystr)
# # print(next(my))
# for i in my:
#    print(i)

mystr = "banana"

for x in mystr: print(x)

b
a
n
a
n
a

In [ ]:
li=[2,3,4,6]
#li.reverse()
print("original:",li)
lr=[]
for i in range(len(li)):
  lr=li[::-1]
print("Reversed:",lr)

original: [2, 3, 4, 6]
Reversed: [6, 4, 3, 2]

In [ ]:
import sys

# Getting size using getsizeof() method and lately
# printing the same.
a = sys.getsizeof(12)
print(a)

b = sys.getsizeof('geeks')
print(b)

c = sys.getsizeof(('g', 'e', 'e', 'k', 's'))
print(c)

d = sys.getsizeof(['g', 'e', 'e', 'k', 's'])
print(d)

e = sys.getsizeof({1, 2, 3, 4})
print(e)

f = sys.getsizeof({1: 'a', 2: 'b', 3: 'c', 4: 'd'})
print(f)

28
54
80
96
216
232

In [ ]:
dic={("sfs","sfdvdfvd"):1,("sdvdv","vdv"):2} #tuple as a key in dic
print(dic)

{('sfs', 'sfdvdfvd'): 1, ('sdvdv', 'vdv'): 2}

In [ ]:
import re

#email validation
def validation():
  pattern ="[a-zA-Z0-9]+@[a-zA-Z]+.(com|edu|net)" 
  user_input = input()
  if(re.search(pattern, user_input,re.IGNORECASE)):
    print("valid email")
  else:
    print("invalid email")

validation()

Lav12@gmail.coM
valid email

In [ ]:
user_input = input()
pattern="Lav12@gmail.com"
if(re.match(pattern, user_input,re.IGNORECASE)):
  print("valid email")
else:
  print("invalid email")

Lav12@gmail.coM
valid email

In [ ]:
from datetime import datetime as dt

print("UTC Time: ", dt.utcnow())
ISOTime=dt.now().isoformat()
print("ISO Time: ",ISOTime)

UTC Time:  2023-02-21 21:00:20.604054
ISO Time:  2023-02-21T21:00:20.606998

In [ ]:
import datetime as dt

n=dt.datetime.today()
print(n)

2023-02-21 21:11:25.690694

In [ ]:
import os
print(os.getcwd())

/content

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
dict1={1:"apple",2:"banana"}
dict2={3:"orange",4:"mango"}

dict1.update(dict2)
print(dict1)          # merging two dictionary

# or
dict3={**dict1,**dict2}
print(dict3)

{1: 'apple', 2: 'banana', 3: 'orange', 4: 'mango'}
{1: 'apple', 2: 'banana', 3: 'orange', 4: 'mango'}

In [ ]:

# from math import sqrt


# def isPrime(n):
# 	if (n <= 1):
# 		return False

# 	for i in range(2, int(sqrt(n))+1):
# 		if (n % i == 0):
# 			return False

# 	return True
def is_prime(n):
    """Returns True if n is a prime number, False otherwise."""
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

# Example usage
for i in range(1, 101):
    if is_prime(i):
        print(i,end=",")

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,

In [ ]:
lis=[1,2,3]
p=sum(lis)
# p=0
# for i in lis:
#   p=p+i
print(p)

6

In [ ]:
#decorators
def outer_div(func):
    def inner(x, y):
        if (x < y):
            x, y = y, x
            return func(x, y)
    return inner
# syntax of generator


@outer_div
def divide(x, y):
    print(x//y)


divide(3, 6)

2

In [ ]:
# def wap(n):
#   return lambda a:a*n
# w=wap(3)
# print(w(2))

d=lambda a,b:(a*b)
print(d(9,3))

27

In [ ]:
st=input("enter:")
max=0
s=st.split()
print(s)
for i in s:     # find the largest word in sentence
  if len(i)>max:
    max=len(i)
    max_w=i
print(max_w,max)

enter:i love weed somuch
['i', 'love', 'weed', 'somuch']
somuch 6

In [ ]:

li=[i for i in range(0,10)] #list comprehension
print(li)

numbers = {x: x*x*x for x in range(1, 11)} #dictionary comprehension
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [ ]:
class Animal: ## overriding /runtime polymorphism
    def Walk(self):
        print('Hello, I am the parent class')

class Dog(Animal):
    def Walk(self):
        print('Hello, I am the child class')

#Invoking Child class through object r

r = Dog()
r.Walk()

#Invoking Parent class through object r

r = Animal()
r.Walk()

Hello, I am the child class
Hello, I am the parent class

In [ ]:
#overloading compiletime polymorphism
# class World:
#        def hello(self, name=None):
#          if name is not None:
#            print("hello", name)
#          else:
#            print("hello")
# obj = World() 
# obj.hello()      # calling function without any argument
# obj.hello("lav")

class sumClass:
    def sum(self, a, b):
        print("First method:",a+b)
    def sum(self, a, b, c):
        print("Second method:", a + b + c)
        
obj=sumClass()
obj.sum(19, 8, 77) #correct output
# obj.sum(18, 20) # throws error

Second method: 104

In [ ]:
num=int(input("enter:"))# febonacci series)
a=0
c=0
b=1
i=1
while i<num:
  c=a+b
  a=b
  b=c
  i+=1
  print(c)

enter:5
1
2
3
5

In [ ]:
def f(str):
  a=str.split()
  count={}
  for i in a:
    if i  in count:
      count[i] += 1
    else:
      count[i] = 1
  return (count)


f("i love my bike i")

# def word_count(str):
#     counts = {}
#     words = str.split()
   
#     for word in words:  #
#         if word in counts:
#             counts[word] += 1
#         else:
#             counts[word] = 1

#     return counts

# print( word_count('the quick brown fox jumps over the lazy dog.'))

{'i': 2, 'love': 1, 'my': 1, 'bike': 1}

In [ ]:
#sorting
def _sort(l):
  max=l[0]
  for i in range(len(l)):
    for j in range(i + 1, len(l)):

        if l[i] > l[j]:
           l[i], l[j] = l[j], l[i]

  return l    
_sort([1,2,6,-9,5,7,0,-878])

[-878, -9, 0, 1, 2, 5, 6, 7]

In [ ]:
def plusMinus(arr):
    # Write your code here
    positive = 0
    negative = 0
    zero = 0
    n=5
    for x in arr:
        if x > 0:
            positive += 1
        elif x < 0:
            negative += 1
        else:
            zero += 1
    
    print('{:.6f}'.format(positive / float(n)))
    print('{:.6f}'.format(negative / float(n)))
    print('{:.6f}'.format(zero / float(n)))

plusMinus([-1,5,6,8,9])

0.800000
0.200000
0.000000

In [ ]:

def miniMaxSum(arr):
    
    total = sum(arr)
    final_list = [total - arr[number] for number in range(len(arr))]
    
    print(min(final_list),max(final_list))
miniMaxSum([0, 1, 2, 3, 4, 5, 6, 7, 8, 9,11])

45 56

In [ ]:
def timeConversion(s):
    
    hour, minute, temp = s.split(':')
    second, period = temp[0:2], temp[2:4]
    
    hour = int(hour)
    
    if period == 'AM':
        if hour == 12:
            hour = hour - hour
        
    elif period == 'PM':
        if hour != 12:
            hour = hour + 12
    
    return '{:0>2}:{:0>2}:{:0>2}'.format(hour, minute, second) #or use {:02d}:{:02d}:{:02d}

In [ ]:
def med_num(arr):
  arr1=sorted(arr)
  print(arr1)
  l=len(arr1)
  if l%2!=0:
    return arr1[(l//2)]
  else:
    m1=arr1[l//2]
    m2=arr1[l//2 - 1]
    return (m1+m2)//2
    

med_num([1,2,3,4,5,6,7,8,9])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

5

In [ ]:
example = list('easyhoss')
print(example)

['e', 'a', 's', 'y', 'h', 'o', 's', 's']

In [ ]:
l = [64, 25, 12, 22, 11, 1,2,44,3,122, 23, 34]

for i in range(len(l)):
    for j in range(i + 1, len(l)):  

        if l[i] > l[j]:
           l[i], l[j] = l[j], l[i] 

print(l)

[1, 2, 3, 11, 12, 22, 23, 25, 34, 44, 64, 122]

In [ ]:
import heapq

l = [64, 25, 12, 22, 11, 1, 2, 44, 3, 122, 23, 34]
heapq.heapify(l)
l_sorted = [heapq.heappop(l) for i in range(len(l))]
l_sorted.reverse()
print(l_sorted)

[122, 64, 44, 34, 25, 23, 22, 12, 11, 3, 2, 1]

In [ ]:
def case_swap(str):
  s=str.split()
  print(s)

case_swap("Pythonist 2")

['Pythonist', '2']

In [ ]:
def fact(x):
    if x == 0:
        return 1
    return x * fact(x - 1)
x=int(input())
print(fact(x))

In [ ]:
import requests
import json
import pandas as pd

url="https://api.data.gov.in/resource/f8cd85a1-f9b8-4ff1-b195-9f75c10eb338?api-key=579b464db66ec23bdd000001cdd3946e44ce4aad7209ff7b23ac571b&format=json&limit=100"
response = requests.get(url)
print(response.json())

{'index_name': 'f8cd85a1-f9b8-4ff1-b195-9f75c10eb338', 'title': 'District Wise Total MSME Registered Enterprises under UDYAM Registration till last date', 'desc': 'District Wise Total MSME Registered Enterprises under UDYAM Registration till last date', 'org_type': 'Central', 'org': ['Ministry of Micro, Small and Medium Enterprises'], 'sector': ['Industries', 'Medium', 'Micro', 'Small Scale'], 'source': 'data.gov.in', 'catalog_uuid': '0536e86e-3751-4054-84e5-e257d4c94477', 'visualizable': '1', 'active': '1', 'created': 1638430835, 'updated': 1676603484, 'created_date': '2021-12-02T07:40:35Z', 'updated_date': '2023-02-17T08:41:24Z', 'external_ws': 0, 'external_ws_url': '', 'target_bucket': {'index': 'udyam_total', 'type': '0536e86e-3751-4054-84e5-e257d4c94477', 'field': 'f8cd85a1-f9b8-4ff1-b195-9f75c10eb338'}, 'field': [{'name': 'state_name', 'id': '_state_name_', 'type': 'keyword'}, {'name': 'lg_dist_code', 'id': 'lg_dist_code', 'type': 'keyword'}, {'name': 'district_name', 'id': 'district_name', 'type': 'keyword'}, {'name': 'micro', 'id': 'micro', 'type': 'double'}, {'name': 'small', 'id': 'small', 'type': 'double'}, {'name': 'medium', 'id': 'medium', 'type': 'double'}, {'name': 'total', 'id': 'total', 'type': 'double'}, {'name': 'last_updated', 'id': 'last_updated', 'type': 'date'}], 'message': 'Resource lists', 'version': '2.2.0', 'status': 'ok', 'total': 764, 'count': 10, 'limit': 10, 'offset': '0', 'records': [{'_state_name_': 'ANDHRA PRADESH', 'lg_dist_code': '745', 'district_name': 'Alluri Sitharama Raju', 'micro': '876', 'small': '5', 'medium': 'NA', 'total': '881', 'last_updated': '2023-02-17'}, {'_state_name_': 'ANDHRA PRADESH', 'lg_dist_code': '744', 'district_name': 'Anakapalli', 'micro': '3906', 'small': '60', 'medium': '1', 'total': '3967', 'last_updated': '2023-02-17'}, {'_state_name_': 'ANDHRA PRADESH', 'lg_dist_code': '502', 'district_name': 'ANANTHAPUR', 'micro': '30113', 'small': '755', 'medium': '45', 'total': '30913', 'last_updated': '2023-02-17'}, {'_state_name_': 'ANDHRA PRADESH', 'lg_dist_code': '753', 'district_name': 'Annamayya', 'micro': '5833', 'small': '73', 'medium': '2', 'total': '5908', 'last_updated': '2023-02-17'}, {'_state_name_': 'ANDHRA PRADESH', 'lg_dist_code': '750', 'district_name': 'Bapatla', 'micro': '4433', 'small': '60', 'medium': '2', 'total': '4495', 'last_updated': '2023-02-17'}, {'_state_name_': 'ANDHRA PRADESH', 'lg_dist_code': '503', 'district_name': 'CHITOOR', 'micro': '25755', 'small': '860', 'medium': '57', 'total': '26672', 'last_updated': '2023-02-17'}, {'_state_name_': 'ANDHRA PRADESH', 'lg_dist_code': '505', 'district_name': 'EAST GODAVARI', 'micro': '32609', 'small': '1535', 'medium': '138', 'total': '34282', 'last_updated': '2023-02-17'}, {'_state_name_': 'ANDHRA PRADESH', 'lg_dist_code': '748', 'district_name': 'Eluru', 'micro': '5724', 'small': '97', 'medium': 'NA', 'total': '5821', 'last_updated': '2023-02-17'}, {'_state_name_': 'ANDHRA PRADESH', 'lg_dist_code': '506', 'district_name': 'GUNTUR', 'micro': '33410', 'small': '2137', 'medium': '221', 'total': '35768', 'last_updated': '2023-02-17'}, {'_state_name_': 'ANDHRA PRADESH', 'lg_dist_code': '746', 'district_name': 'Kakinada', 'micro': '6361', 'small': '89', 'medium': '4', 'total': '6454', 'last_updated': '2023-02-17'}]}

In [ ]:
def print_alpha_nums(abc_list, num_list):
  for char in abc_list:
    for num in num_list:
      print(char, num)

  return

print_alpha_nums(['a', 'b', 'c'], [1, 2, 3])

a 1
a 2
a 3
b 1
b 2
b 3
c 1
c 2
c 3

In [ ]:
st="i love dog cats i love birds"
s=st.split()
d={}
d=[d[i] = 1 else d[i] += 1 if i in  d for i in s]
print(d)

SyntaxError: ignored

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd


def scrape_website(url):
    # Send a GET request to the specified URL
    response = requests.get(url)

    # Parse the HTML content using BeautifulSoup
    soup = BeautifulSoup(response.content, 'html.parser')

    # Find the section containing the products
    products_section = soup.find('section', {'class': 'js-filter-products'})

    # Find all the product items
    product_items = products_section.find_all('li', {'class': 'product-grid__item'})

    # Create an empty list to store the data for each product
    products = []

    # Iterate over each product item and extract the name and price
    for item in product_items:
        # Find the name of the product
        name = item.find('p', {'class': 'product-card__name'}).text.strip()

        # Find the price of the product
        price = item.find('p', {'class': 'product-card__price'}).text.strip()

        # Add the name and price to the list of products
        products.append({'Product Name': name, 'Product Price': price})

    # Create a pandas dataframe from the list of products
    df = pd.DataFrame(products)
    print(df)
    # Save the dataframe as a CSV file
    df.to_excel('product_prices.csv', index=False)

    # Print a message indicating the operation is complete
    print('Product prices have been scraped and saved to product_prices.csv')


# Test the function by scraping the specified website
url = 'https://www.thewhiskyexchange.com/c/35/japanese-whisky'
scrape_website(url)

                                         Product Name Product Price
0                                      Hibiki Harmony        £76.95
1                                Yamazaki 12 Year Old          £139
2                           Nikka Coffey Grain Whisky        £57.95
3                                    The Chita Whisky        £51.95
4                                  Yoichi Single Malt        £77.75
5                        Yamazaki Distiller's Reserve        £72.95
6                         Hakushu Distiller's Reserve        £70.95
7                               Miyagikyo Single Malt        £78.45
8                                        Suntory Toki        £33.95
9                                  Kaiyo Mizunara Oak        £82.95
10           The House of Suntory Triology Pack3x20cl        £44.95
11  Ichiro's Malt & GrainWorld Blended Whisky 2020...          £195
12                   Kaiyo Mizunara Oak Cask Strength          £110
13           Shizuoka Contact S Single Malt3 Year Old          £175
14  Shizuoka Single Malt Prologue K and Prologue W...          £199
15                        Chichibu On The WayBot.2019          £450
16                   Mars Komatgatake EditionBot.2021          £145
17                  Matsui PeatedKurayoshi Distillery          £131
18                          Kaiyo Peated Mizunara Oak        £99.95
19             Ichiro's Malt Double Distilleries 2021          £299
20            Akashi 5 Year OldSherry Cask Half Litre          £150
21  Karuizawa 29 Year OldAika Geisha Bourbon Cask ...       £27,500
22                  Matsui SakuraKurayoshi Distillery          £136
23                Matsui MizunaraKurayoshi Distillery          £134
Product prices have been scraped and saved to product_prices.csv

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# make a request to the website
url = "https://www.thewhiskyexchange.com/c/35/japanese-whisky"
response = requests.get(url)

# parse the html content using Beautiful Soup
soup = BeautifulSoup(response.content, 'html.parser')

# find the section containing the product list
product_section = soup.find('section', {'class': 'js-filter-products'})

# extract the name, price, and unit price of each product and store them in a list
products = []
for product in product_section.find_all('div', {'class': 'product-card__content','class': 'product-card__data'}):
    name = product.find('p', {'class': 'product-card__name'}).text.strip()
    price = product.find('p', {'class': 'product-card__price'}).text.strip()
    unit_price = product.find('p', {'class': 'product-card__unit-price'}).text.strip()
    products.append([name, price, unit_price])

# convert the list of products into a pandas dataframe
df = pd.DataFrame(products, columns=['Name', 'Price', 'Unit Price'])
print(df.head())

AttributeError: ignored